* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* this lets me call the colors by name instead of inputting them every time */
:root{

    --first-color: #D2B1CD;
    --dark-color: #736372;
    --dark-color-alt: #878282;
    --body-color: #fff9ec;
    --text-color: #2B2B2B;
 
   
}

