* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* this lets me call the colors by name instead of inputting them every time */
:root{

    --first-color: #D2B1CD;
    --dark-color: #736372;
    --dark-color-alt: #878282;
    --body-color: #fff9ec;
    --text-color: #2B2B2B;
 
   
}

:root {
    --body-font: 'Bodoni Moda', serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

:root {
    --z-fixed: 100;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
    background-color: #fff9ec;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 3em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
}

.header_logo {
    color: var(--white-color);
}

.header_logo a {
    color: var(--white-color);
}

.header_toggle {
    font-size: 1.5rem;
    color: var(--body-color);
    cursor: pointer;
}



.nav_content {
    height: 100%;
    grid-template-rows: max-content 1fr max-content;
    row-gap: 2rem;
}

.nav_close {
    position: absolute;
    right: 1.5rem;
    font-size: 1.3rem;
    padding: .25rem;
    background-color: var(--dark-color-alt);
    border-radius: 50%;
    cursor: pointer;
}

.nav_img {
    display: flex;
    justify-content: center;
    padding-top: .25rem;
    margin-bottom: .8rem;
    width: 56px;
    height: 56px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
}

.nav_img img {
    width: 46px;
}

.nav_name {
    display: block;
    color: var(--body-color);
}

.nav_name a {
    color: var(--body-color);
}

.nav_profesion {
    font-size: var(--small-font-size);
}

.nav_menu {
    align-self: center;
}

.nav_item {
    margin: 2.5rem 0;
}

.nav_link {
    color: var(--body-color);
}

.nav_social {
    padding-top: .5rem;
}

.nav_social-icon {
    font-size: 1.2rem;
    color: var(--body-color);
    margin-right: 1rem;
}

.nav_social-icon:hover {
    color: var(--first-color);
}

.show {
    left: 0;
}

.active {
    color: var(--first-color);
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .header {
    height: 4rem;
    }

    .header_logo, .header_toggle {
        display: none;
    }

    .nav {
        width: 100%;
    }

    .nav_content {
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: 1fr;
        column-gap: 1rem;
        justify-content: space-between;
    }

    .nav_close, .nav_profesion {
        display: none;
    }

    .nav_profile {
        display: flex;
        align-items: center;
    }

    .nav_img {
        width: 32px;
        height: 32px;
        margin-right: .5rem;
    }

    .nav_img img {
        width: 26px;
    }

    .nav_list {
        display: flex;
    }

    .nav_item {
        margin: 0 .25rem;
    }

    .nav_link {
        padding: .5rem .8rem;
        border-radius: .25rem;
    }

    .nav_link:hover {
        background-color: var(--first-color)
    }

    .active {
        background-color: var(--first-color);
        color: #000;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--dark-color);
        color: var(--body-color);
        width: 100%;
        height: 100vh;
        padding: 1.5rem 0;
        z-index: var(--z-fixed);
        transition: 0.5s;
    }

    .container {
        display: none;
    }

    #nav-menu.show {
        left: 0;
    }

    .nav_content {
        margin-left: 30px;
    }
}

/* footer */
.footer #button {
    width: 35px;
    height: 35px;
    border: #727172 12px solid;
    border-radius: 35px;
    margin: 0 auto;
    position: relative;
    transition: all 1s ease;
}

.footer #button:hover{
    width: 35px;
    height: 35px;
    border: #3a3a3a 12px solid;
    transition: all 1s ease;
    position: relative;
}

.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 2em;
    overflow: hidden;
    margin: 0 auto;
    transition: all 1s ease;
    z-index: 999;
    margin-top: 100px;
}

.footer:hover {
    transition: all 1s ease;
    height: 10em;
}

.footer #container1 {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #736372;
}

.footer #cont{
    position: relative;
    top: -45px;
    right: 190px;
    width: 150px;
    height: auto;
    margin: 0 auto;

}

.footer_center {
    width: 500px;
    float: left;
    text-align: center;
}

.footer h3 {
    font-family: 'Martel';
    font-size: 15px;
    font-weight: 100;
    margin-top: 70px;
    margin-left: 40px;
    color: #fff;
}